<div class="row">
  <div class="col-xs-12">
    <div class="messageBox">
      <h1>Welcome!</h1>
      <hr />
      <p>This is the AGENCY04 Spring Summer School Application for registering to our event!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam sit amet risus a sagittis. Nullam ornare malesuada hendrerit. Mauris id libero tortor. Cras est nisl, tempus nec velit tincidunt, accumsan faucibus dui. Vivamus rutrum enim non augue consequat, sit amet varius orci consequat. Nam sagittis imperdiet maximus. Vivamus purus ipsum, rutrum eget congue a, sagittis sit amet enim. Ut ac sollicitudin neque. Sed euismod pulvinar sapien eu molestie. Praesent eros risus, commodo in luctus id, malesuada eget tellus. Sed interdum risus et euismod tristique. Quisque porta quam diam, ac finibus est varius eu. Nulla semper magna vitae metus porta imperdiet. Nunc eget massa eget tortor sollicitudin egestas ac nec arcu. Pellentesque nec sollicitudin tellus. Vestibulum convallis mi a sapien egestas volutpat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquam sit amet risus a sagittis. Nullam ornare malesuada hendrerit. Mauris id libero tortor. Cras est nisl, tempus nec velit tincidunt, accumsan faucibus dui. Vivamus rutrum enim non augue consequat, sit amet varius orci consequat. Nam sagittis imperdiet maximus. Vivamus purus ipsum, rutrum eget congue a, sagittis sit amet enim. Ut ac sollicitudin neque. Sed euismod pulvinar sapien eu molestie. Praesent eros risus, commodo in luctus id, malesuada eget tellus. Sed interdum risus et euismod tristique. Quisque porta quam diam, ac finibus est varius eu. Nulla semper magna vitae metus porta imperdiet. Nunc eget massa eget tortor sollicitudin egestas ac nec arcu. Pellentesque nec sollicitudin tellus. Vestibulum convallis mi a sapien egestas volutpat.</p>
    </div>
  </div>
</div>
